* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: 'Playfair Display', sans-serif;
}

/* CSS Rules for the header of the website */

#header {
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#header a {
  display: block;
  padding: 10px;
  color: blueviolet;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 0.5rem;
}

#header nav a:hover,
#header nav a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

#header ul {
  list-style: none;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .categories {
  display: flex;
}

#header .book-logo {
  font-size: 3em;
  padding: 0px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0px 20px;
}

#header nav .active {
  background-color: rgba(0, 0, 0, 0.1);
}

/* CSS Rules for the header of the website */

/* CSS Rules for the book section */

#books-section,
#book-details,
#page-not-found {
  margin: 50px 0px;
}

.section-title {
  padding: 20px 0px;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

#books-section .book {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#books-section .book-img img {
  width: 100%;
  height: 200px;
}

#books-section .book-info {
  padding: 1rem;
}

#books-section .book-title {
  padding-bottom: 10px;
}

#books-section .book-author {
  padding-bottom: 5px;
}

.btn {
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  text-decoration: none;
  display: inline-block;
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.btn-highlight {
  background-color: blueviolet;
  color: white;
}

/* CSS Rules for the book section */

/* CSS Rules for the book details section */

#book-detail .book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 5%;
}

#book-img-selector{
  max-width: 100%;
}

#book-detail .book-title {
  padding-bottom: 20px;
}

#book-detail .book-author {
  padding-bottom: 10px;
}

#book-detail .book-review-container {
  display: flex;
  font-size: 1.2em;
  justify-content: flex-end;
}

#book-detail .book-review-container .book-stars {
  color: yellow;

}

#book-detail .book-review-container .book-review {
  margin-left: 5px;
}

/* CSS Rules for the book details section */

/* CSS Rules for footer */

#footer {
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding: 20px;
  margin-top: auto;
}

/* CSS Rules for footer */

.has-fixed-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}